<h1>ELECTRONICS</h1>

<div class="cards">
  <div class="card">
    <h2 class="card-title">HP</h2>
    <img src="./assets/images/l1img.jpg" alt="">
    <p class="card-content" class="text-center">$45,000</p>
    <a href="#" class="btn btn-primary stretched-link">Buy</a>
    <p class="card-desc">Download the perfect hp laptop pictures. Find over 100+ of the best free hp laptop images. Free for commercial use ✓ No attribution required ✓ Copyright-​free.</p>
  </div>
  <div class="card">
    <h2 class="card-title">DELL</h2>
    <img src="./assets/images/l2img.jpg" alt="">
    <p class="card-content" class="text-center">$53,500</p>
    <a href="#" class="btn btn-primary stretched-link">Buy</a>
    <p class="card-desc">Find the perfect dell laptop stock photo. Huge collection, amazing choice, 100+ million high quality, affordable RF and RM images. No need to register, buy now!</p>
  </div>
  <div class="card">
    <h2 class="card-title">SAMSUNG MSERIES</h2>
    <img src="./assets/images/l3img.jpg" alt="">
    <p class="card-content" class="text-center">$55,700</p>
    <a href="#" class="btn btn-primary stretched-link">Buy</a>
    <p class="card-desc">Find samsung laptop stock images in HD and millions of other royalty-free stock photos, illustrations and vectors in the Shutterstock collection. Thousands of new​ ... </p>
  </div>
  <div class="card">
    <h2 class="card-title">1+ NORD</h2>
    <img src="./assets/images/1img.jpg" alt="">
    <p class="card-content" class="text-center">$42,800</p>
    <a href="#" class="btn btn-primary stretched-link">Buy</a>
    <p class="card-desc">Checkout OnePlus Nord latest and official images. You can also get photos of phone's design, camera samples, 360 view of mobile, UI screenshots and video .</p>
  </div>
  <div class="card">
    <h2 class="card-title">SAMSUNG M31 </h2>
    <img src="./assets/images/s2.jpg" alt="">
    <p class="card-content" class="text-center">$29,800</p>
    <a href="#" class="btn btn-primary stretched-link">Buy</a>
    <p class="card-desc">Samsung Galaxy M31 pictures · Released 2020, March 05 · 191g, 8.9mm thickness · Android 10, up to Android 11, One UI 3.1 · 64GB/128GB storage, microSDXC ...</p>
  </div>
  <div class="card">
    <h2 class="card-title">i phone 10 </h2>
    <img src="./assets/images/i.jpg" alt="">
    <p class="card-content" class="text-center">$25,800</p>
    <a href="#" class="btn btn-primary stretched-link">Buy</a>
    <p class="card-desc">—Download the perfect iphone 10 pictures. Find over 100+ of the best free iphone 10 images. Free for commercial use ... HD Phone Wallpapers · mobile phone.</p>
  </div>
  <div class="card">
    <h2 class="card-title">APPLE TAB</h2>
    <img src="./assets/images/2img.jpg" alt="">
    <p class="card-content" class="text-center">15,800</p>
    <a href="#" class="btn btn-primary stretched-link">Buy</a>
    <p class="card-desc">Find iphone tablets stock images in HD and millions of other royalty-free stock photos, illustrations and vectors in the Shutterstock collection. Thousands of new​ ...</p>
  </div>
  <div class="card">
    <h2 class="card-title">SAMSUNG A10</h2>
    <img src="./assets/images/st.jpg" alt="">
    <p class="card-content" class="text-center">$10,800</p>
    <a href="#" class="btn btn-primary stretched-link">Buy</a>
    <p class="card-desc">Find iphone tablets stock images in HD and millions of other royalty-free stock photos, illustrations and vectors in the Shutterstock collection. Thousands of new​ ...</p>
  </div>
  <div class="card">
    <h2 class="card-title">LENOVO YOGA </h2>
    <img src="./assets/images/lt.jpg" alt="">
    <p class="card-content" class="text-center">$12,800</p>
    <a href="#" class="btn btn-primary stretched-link">Buy</a>
    <p class="card-desc">lenovo-yoga-tab-3-pro-1622-001.jpg. 1 of 14 Josh Miller/CNET. Not your average tablet. From this angle the Lenovo Yoga Tab 3 Pro looks like a normal tablet ... It has to be positioned high enough for the image to reach your ...</p>
  </div>
  <div class="card">
    <h2 class="card-title">DELL XPS </h2>
    <img src="./assets/images/dd.jpg" alt="">
    <p class="card-content" class="text-center">$30,800</p>
    <a href="#" class="btn btn-primary stretched-link">Buy</a>
    <p class="card-desc">—lenovo-yoga-tab-3-pro-1622-001.jpg. 1 of 14 Josh Miller/CNET. Not your average tablet. From this angle the Lenovo Yoga Tab 3 Pro looks like a normal tablet ... It has to be positioned high enough for the image to reach your ... </p>
  </div>
  <div class="card">
    <h2 class="card-title">APPLE MAC</h2>
    <img src="./assets/images/32img.jpg" alt="">
    <p class="card-content" class="text-center">45,800</p>
    <a href="#" class="btn btn-primary stretched-link">Buy</a>
    <p class="card-desc">Your Mac includes photos and other images that you can use as desktop pictures to give your Mac a custom look. Or you can use your own.</p>
  </div>
  <div class="card">
    <h2 class="card-title">ACER</h2>
    <img src="./assets/images/ad.jpg" alt="">
    <p class="card-content" class="text-center">$25,000</p>
    <a href="#" class="btn btn-primary stretched-link">Buy</a>
    <p class="card-desc">Your Mac includes photos and other images that you can use as desktop pictures to give your Mac a custom look. Or you can use your own.</p>
  </div>
</div>











  
<br><br>

<!-----------------carousels------------>
  <main>
    <div class="container">
      <div class="carousel slide" id="main-carousel" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#main-carousel" data-slide-to="1"></li>
          <li data-target="#main-carousel" data-slide-to="2"></li>
          <li data-target="#main-carousel" data-slide-to="3"></li>
        </ol><!-- /.carousel-indicators -->
        
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block img-fluid" src="./assets/images/tabc.jpg" alt="" width="50%" height="200px" class="mx-auto d-block">
            <div class="carousel-caption d-none d-md-block">
              <h1>TAB</h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci esse vitae exercitationem fugit, numquam minus!</p></div>
          </div>
          <div class="carousel-item">
            <img class="d-block img-fluid" src="./assets/images/mpc.jpg" alt="" width="50%" height="200px" class="mx-auto d-block">
            <div class="carousel-caption d-none d-md-block">
              <h3>MOBILES</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci esse vitae exercitationem fugit, numquam minus!</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block img-fluid" src="./assets/images/rrc.jpg" alt="" width="50%" height="200px" class="mx-auto d-block">
            <div class="carousel-caption d-none d-md-block">
              <h3>RADIO</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci esse vitae exercitationem fugit, numquam minus!</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block img-fluid" src="./assets/images/prc.jpg" alt="" width="50%" height="200px" class="mx-auto d-block">
            <div class="carousel-caption d-none d-md-block">
              <h3>PROJECTOR</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci esse vitae exercitationem fugit, numquam minus!</p>
            </div>
          </div>
        </div><!-- /.carousel-inner -->
        
        <a href="#main-carousel" class="carousel-control-prev" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
          <span class="sr-only" aria-hidden="true">Prev</span>
        </a>
        <a href="#main-carousel" class="carousel-control-next" data-slide="next">
          <span class="carousel-control-next-icon"></span>
          <span class="sr-only" aria-hidden="true">Next</span>
        </a>
      </div><!-- /.carousel -->
    </div><!-- /.container -->
</main>
    <br><br>








    
    <div class="cards">
      <div class="card">
        <h2 class="card-title"> MI TV</h2>
        <img src="./assets/images/tv.jpg" alt="">
        <p class="card-content" class="text-center">$45,000</p>
        <a href="#" class="btn btn-primary stretched-link">Buy</a>
        <p class="card-desc">Watch Photos, images and wallpapers of XIAOMI MI LED SMART TV 4A (43). Also read and write reviews of XIAOMI MI LED SMART TV 4A (43) on ...</p>
      </div>
      <div class="card">
        <h2 class="card-title">REAL MI</h2>
        <img src="./assets/images/r.jpg" alt="">
        <p class="card-content" class="text-center">$53,500</p>
        <a href="#" class="btn btn-primary stretched-link">Buy</a>
        <p class="card-desc">Buy Mi 4A 80 cm (32 inch) HD Ready LED Smart TV only for Rs. 14499. Exchange your old TV with new one and get 30 day replacement guarantee with free ... H.265, H.264, Real, MPEG 1/2/4 ... Supported Photo Formats - PNG, GIF, JPG, DTS-HD Speakers, Cable TV ... 4) Picture quality is standard but not excellant</p>
      </div>
      <div class="card">
        <h2 class="card-title">SAMSUNG S5</h2>
        <img src="./assets/images/s.jpg" alt="">
        <p class="card-content" class="text-center">$55,700</p>
        <a href="#" class="btn btn-primary stretched-link">Buy</a>
        <p class="card-desc">My samsung series 5 LED tv doesnt display jpg image files. It says ` format not supported while I can see them on my computer. They appear with the name </p>
      </div>
      <div class="card">
        <h2 class="card-title">CPU </h2>
        <img src="./assets/images/cpu.jpg" alt="">
        <p class="card-content" class="text-center">$10,800</p>
        <a href="#" class="btn btn-primary stretched-link">Buy</a>
        <p class="card-desc">In computing, a system image is a serialized copy of the entire state of a computer system stored in some non-volatile form such as a file. A system is said to be capable of using system images if it can be shut down and later restored to exactly the same state. In such cases, system images can be used for backup.</p>
      </div>
      <div class="card">
        <h2 class="card-title">PROJECTOR  </h2>
        <img src="./assets/images/primg.jpg" alt="">
        <p class="card-content" class="text-center">$6,800</p>
        <a href="#" class="btn btn-primary stretched-link">Buy</a>
        <p class="card-desc">In computing, a system image is a serialized copy of the entire state of a computer system stored in some non-volatile form such as a file. A system is said to be capable of using system images if it can be shut down and later restored to exactly the same state. In such cases, system images can be used for backup.</p>
      </div>
      <div class="card">
        <h2 class="card-title"> ZOOM PRO </h2>
        <img src="./assets/images/pr.jpg" alt="">
        <p class="card-content" class="text-center">$25,800</p>
        <a href="#" class="btn btn-primary stretched-link">Buy</a>
        <p class="card-desc">— In computing, a system image is a serialized copy of the entire state of a computer system stored in some non-volatile form such as a file. A system is said to be capable of using system images if it can be shut down and later restored to exactly the same state. In such cases, system images can be used for backup.</p>
      </div>
      <div class="card">
        <h2 class="card-title"> RADIO</h2>
        <img src="./assets/images/rr.jpg" alt="">
        <p class="card-content" class="text-center">3,800</p>
        <a href="#" class="btn btn-primary stretched-link">Buy</a>
        <p class="card-desc">Radio waves are electromagnetic waves of frequency between 30 hertz (Hz) and 300 gigahertz (GHz). They are generated by an electronic device</p>
      </div>
      <div class="card">
        <h2 class="card-title">IRON BOX</h2>
        <img src="./assets/images/iron.jpg" alt="">
        <p class="card-content" class="text-center">$1,000</p>
        <a href="#" class="btn btn-primary stretched-link">Buy</a>
        <p class="card-desc">Electric iron is an important domestic appliance. We use iron to press clothes. Ironing removes wrinkles in fabric and it requires heat. When the fabric is heated,​ ...</p>
      </div>
      <div class="card">
        <h2 class="card-title">FIERCE </h2>
        <img src="./assets/images/rra.jpg" alt="">
        <p class="card-content" class="text-center">$12,800</p>
        <a href="#" class="btn btn-primary stretched-link">Buy</a>
        <p class="card-desc">Radio waves are electromagnetic waves of frequency between 30 hertz (Hz) and 300 gigahertz (GHz). They are generated by an electronic device</p>
      </div>
      <div class="card">
        <h2 class="card-title">HOME THEATER </h2>
        <img src="./assets/images/hm.jpg" alt="">
        <p class="card-content" class="text-center">$11,800</p>
        <a href="#" class="btn btn-primary stretched-link">Buy</a>
        <p class="card-desc">— Break out the popcorn and get an immersive experience with our all-in-one 5.1 home theatre systems and speakers available with 2.1 and 5.1 surround sound.</p>
      </div>
      <div class="card">
        <h2 class="card-title">SOURCE</h2>
        <img src="./assets/images/h.jpg" alt="">
        <p class="card-content" class="text-center">45,800</p>
        <a href="#" class="btn btn-primary stretched-link">Buy</a>
        <p class="card-desc">Break out the popcorn and get an immersive experience with our all-in-one 5.1 home theatre systems and speakers available with 2.1 and 5.1 surround sound.</p>
      </div>
      <div class="card">
        <h2 class="card-title">YAMAHA YHT</h2>
        <img src="./assets/images/yh.jpg" alt="">
        <p class="card-content" class="text-center">$25,000</p>
        <a href="#" class="btn btn-primary stretched-link">Buy</a>
        <p class="card-desc">Break out the popcorn and get an immersive experience with our all-in-one 5.1 home theatre systems and speakers available with 2.1 and 5.1 surround sound.</p>
      </div>
    </div>
    



