
  
<div class="background">

  <div class="container">
    <div class="screen">
      <h1>Contact</h1>
      <div class="screen-body">
        <div class="screen-body-item left">
         <div class="address">ADDRESS :
          <span>Chandanagar,</span>
           <div><span>lingampally,</span></div>
           <div><span>502032.</span></div>
         </div>
         <div class="app-contact">CONTACT INFO : 040-8877665544</div>
        </div>
        <div class="screen-body-item">
          <div class="app-form">
            <div class="app-form-group">
              <input class="app-form-control" placeholder="NAME">
            </div>
            <div class="app-form-group">
              <input class="app-form-control" placeholder="EMAIL">
            </div>
            <div class="app-form-group">
              <input class="app-form-control" placeholder="CONTACT NO">
            </div>
            <div class="app-form-group message">
              <input class="app-form-control" placeholder="MESSAGE">
            </div>
            <div class="app-form-group buttons">
              <button class="app-form-button">CANCEL</button>
              <button class="app-form-button">SEND</button>
            </div>
          </div>
        </div>
      </div>
    </div>
   
  </div>
</div>
