



  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <h1>ACCESSORIES </h1>
  <div class="cards">
    <div class="card">
      <h2 class="card-title">pic frames</h2>
      <img src="./assets/images/pcimg.jpg" alt="">
      <p class="card-content" class="text-center">$800</p>
      <a href="#" class="btn btn-primary stretched-link">Buy</a>
      <p class="card-desc">to represent the whole family images, life memories, spreading together ness</p>
    </div>
    <div class="card">
      <h2 class="card-title">Mollismoons bag</h2>
      <img src="./assets/images/msimg.jpg" alt="">
      <p class="card-content" class="text-center">$2,800</p>
      <a href="#" class="btn btn-primary stretched-link">Buy</a>
      <p class="card-desc">... Bean Bag with mudda, Standard, White - Home Decor. Load image into Gallery viewer, Mollismoons Lounger Sofa Stretchable Leather Bean Bag with mudda,</p>
    </div>
    <div class="card">
      <h2 class="card-title">LIGHTER</h2>
      <img src="./assets/images/lg.jpg" alt="">
      <p class="card-content" class="text-center">$200</p>
      <a href="#" class="btn btn-primary stretched-link">Buy</a>
      <p class="card-desc">A lighter is a portable device which generates a flame, and can be used to ignite a variety of items, such as cigarettes, gas stoves, fireworks, candles or campfire.</p>
    </div>
    <div class="card">
      <h2 class="card-title">CHARGER</h2>
      <img src="./assets/images/crimg.jpg" alt="">
      <p class="card-content" class="text-center">$200</p>
      <a href="#" class="btn btn-primary stretched-link">Buy</a>
      <p class="card-desc">Charger · Apple MHJD3HN/A 20W USB-C Power Adapter (White) · Apple MagSafe MHXH3ZM/A 15W QI Wireless Charger (White) · Apple 5W USB Power Adapter ( ...</p>
    </div>
    <div class="card">
      <h2 class="card-title">EAR PODS</h2>
      <img src="./assets/images/epimg.jpg" alt="">
      <p class="card-content" class="text-center">$1200</p>
      <a href="#" class="btn btn-primary stretched-link">Buy</a>
      <p class="card-desc"> ... Bluetooth Wireless Ear Buds with 30Hours Battery, Immersive Sound Quality, Powerful Bass, Touch Control - ...</p>
    </div>
    <div class="card">
      <h2 class="card-title">LANTHER</h2>
      <img src="./assets/images/lnimg.jpg" alt="">
      <p class="card-content" class="text-center">$300</p>
      <a href="#" class="btn btn-primary stretched-link">Buy</a>
      <p class="card-desc">Lanther Black. 1015 likes. Lanther Black cards are not for everyone, they're for someone. And that makes all the difference.</p>
    </div>
    <div class="card">
      <h2 class="card-title">WALL CLOCK</h2>
      <img src="./assets/images/wl1img.jpg" alt="">
      <p class="card-content" class="text-center">$400</p>
      <a href="#" class="btn btn-primary stretched-link">Buy</a>
      <p class="card-desc">A customizable analog clock that can be used as a widget or as a live wallpaper. If the widget stops please disable any "battery saving" features or use the live ...</p>
    </div>
    <div class="card">
      <h2 class="card-title">Speakers</h2>
      <img src="./assets/images/spimg.jpg" alt="">
      <p class="card-content" class="text-center">$4,800</p>
      <a href="#" class="btn btn-primary stretched-link">Buy</a>
      <p class="card-desc">27 Best Speakers images ✓ free stock photos download for commercial use in HD ... images, sound speakers, speaker hd, speaker bass, speaker background,​ ...
      </p>
    </div>
  </div>
  









  
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <h1>Card Image with description on :hover</h1>
  <div class="cards">
    <div class="card">
      <h2 class="card-title">Tea poucher</h2>
      <img src="./assets/images/teaimg.jpg" alt="">
       <p class="card-content" class="text-center">$400</p>
      <a href="#" class="btn btn-primary stretched-link">Buy</a>
      <p class="card-desc">Tips on how to organize the kitchen from Home Organization 101 series by A Bowl Full of Lemons. Lots of detailed pictures. Keep loose leaf tea and coffee Black .</p>
    </div>
    <div class="card">
      <h2 class="card-title">CLOCK</h2>
      <img src="./assets/images/wlimg.jpg" alt="">
      <p class="card-content" class="text-center">$300</p>
      <a href="#" class="btn btn-primary stretched-link">Buy</a>
      <p class="card-desc">A customizable analog clock that can be used as a widget or as a live wallpaper. If the widget stops please disable any "battery saving" features or use the live ...</p>
    </div>
    <div class="card">
      <h2 class="card-title">TREE POT</h2>
      <img src="./assets/images/flimg.jpg" alt="">
      <p class="card-content" class="text-center">$200</p>
      <a href="#" class="btn btn-primary stretched-link">Buy</a>
      <p class="card-desc">Container-grown trees can be used to frame entryways or to provide ...</p>
    </div>
    <div class="card">
      <h2 class="card-title">BOTTLE</h2>
      <img src="./assets/images/blimg.jpg" alt="">
      <p class="card-content" class="text-center">$100</p>
      <a href="#" class="btn btn-primary stretched-link">Buy</a>
      <p class="card-desc">Water Bottles - Choose from a wide range of Water Bottles Online in India at best price. Select from sipper, normal lid, tip open & more Water bottles at Myntra ...</p>
    </div>
    <div class="card">
      <h2 class="card-title">SHOW PIECE</h2>
      <img src="./assets/images/plimg.jpg" alt="">
      <p class="card-content" class="text-center">$300</p>
      <a href="#" class="btn btn-primary stretched-link">Buy</a>
      <p class="card-desc">A modern curio showpiece radiates your exquisite personal choice and renders as an enticing showpiece. Our handpicked showpieces are crafted with meticulous .</p>
    </div>
    <div class="card">
      <h2 class="card-title">SHOW PIECE</h2>
      <img src="./assets/images/pl1img.jpg" alt="">
      <p class="card-content" class="text-center">$300</p>
      <a href="#" class="btn btn-primary stretched-link">Buy</a>
      <p class="card-desc">A modern curio showpiece radiates your exquisite personal choice and renders as an enticing showpiece. Our handpicked showpieces are crafted with meticulous .</p>
    </div>
    <div class="card">
      <h2 class="card-title">Helmet</h2>
      <img src="./assets/images/himg.jpg" alt="">
      <p class="card-content" class="text-center">$2,800</p>
      <a href="#" class="btn btn-primary stretched-link">Buy</a>
      <p class="card-desc">Find the perfect Helmet stock photos and editorial news pictures from Getty Images. Select from premium Helmet of the highest quality.</p>
    </div>
    <div class="card">
      <h2 class="card-title">Headphones</h2>
      <img src="./assets/images/hdimg.jpg" alt="">
      <p class="card-content" class="text-center">$2,000</p>
      <a href="#" class="btn btn-primary stretched-link">Buy</a>
      <p class="card-desc">Find the perfect Headphones stock photos and editorial news pictures from Getty Images. Select from premium Headphones of the highest quality.</p>
    </div>
  </div>