



  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <h1>TRENDING </h1>
  <div class="cards">
    <div class="card">
      <h2 class="card-title">SHOE</h2>
      <img src="./assets/images/nimg.jpg" alt="">
      <p class="card-content" class="text-center">$1500</p>
      <a href="#" class="btn btn-primary stretched-link">Buy</a>
      <p class="card-desc">Download and use 400+ nike stock photos for free. ✓ Thousands of new images every day ✓ Completely Free to Use ✓ High-quality videos and images from ...</p>
    </div>
    <div class="card">
      <h2 class="card-title">SHIRTS</h2>
      <img src="./assets/images/aimg.jpg" alt="">
      <p class="card-content" class="text-center">$800</p>
      <a href="#" class="btn btn-primary stretched-link">Buy</a>
      <p class="card-desc">Allen Solly Shirt - Buy Allen Solly Shirts for Men and Women at best price Online from Myntra. Shop for a regular fit, tailored fit shirts & more from the range of Allen Solly Shirts Online. Myntra also offers Shirts in ... On First Order. NEW SEASON ...</p>
    </div>
    <div class="card">
      <h2 class="card-title">CAP</h2>
      <img src="./assets/images/cap.jpg" alt="">
      <p class="card-content" class="text-center">$150</p>
      <a href="#" class="btn btn-primary stretched-link">Buy</a>
      <p class="card-desc">Buy Caps & Hats for Men. Huge collection of men's caps & hats at low offer price & discounts at COD, Easy Returns & Exchanges. </p>
    </div>
    <div class="card">
      <h2 class="card-title">BELT</h2>
      <img src="./assets/images/belt.jpg" alt="">
      <p class="card-content" class="text-center">$200</p>
      <a href="#" class="btn btn-primary stretched-link">Buy</a>
      <p class="card-desc">Belts For Men: Choose from a wide range of leather belts for men online. Buy mens formal and casual belts from Shoppers Stop Now! ✯ Enjoy Quick Delivery​ ...</p>
    </div>
    <div class="card">
      <h2 class="card-title">HAND BAND</h2>
      <img src="./assets/images/band.jpg" alt="">
      <p class="card-content" class="text-center">$100</p>
      <a href="#" class="btn btn-primary stretched-link">Buy</a>
      <p class="card-desc">Wrist bands are used primarily by athletes to stop sweat falling on the eyes and face. A quick, agile wipe and excess sweat can be removed without any delay.</p>
    </div>
    <div class="card">
      <h2 class="card-title">SLIPPERS</h2>
      <img src="./assets/images/slip.jpg" alt="">
      <p class="card-content" class="text-center">$500</p>
      <a href="#" class="btn btn-primary stretched-link">Buy</a>
      <p class="card-desc">— Choose from a huge variety of the latest chappals for ladies only from Bata online​. Buy the best women slippers, flat chappals, flip-flops online in India ...</p>
    </div>
    <div class="card">
      <h2 class="card-title">DOLLAR</h2>
      <img src="./assets/images/chn.jpg" alt="">
      <p class="card-content" class="text-center">$150</p>
      <a href="#" class="btn btn-primary stretched-link">Buy</a>
      <p class="card-desc">... Religious Dollar, Fancy Dollar, Heartin Lockets, Love Dollar, Vinayaga, Shivalinga, Lakshmi, Sai Baba, Cross Dollar, Baby Chains, twist chain, bullet chain ..</p>
    </div>
    <div class="card">
      <h2 class="card-title">ROLEX</h2>
      <img src="./assets/images/waimg.jpg" alt="">
      <p class="card-content" class="text-center">$10,800</p>
      <a href="#" class="btn btn-primary stretched-link">Buy</a>
      <p class="card-desc">Rolex offers a wide assortment of Oyster Perpetual and Cellini watches. Discover the broad selection of Rolex timepieces to find the perfect combination of style ...
        ‎Submariner · ‎Classic Watches · ‎Professional Watches · ‎World of Rolex
      </p>
    </div>
  </div>
  









  
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <h1>Card Image with description on :hover</h1>
  <div class="cards">
    <div class="card">
      <h2 class="card-title">PANTS</h2>
      <img src="./assets/images/pimg.jpg" alt="">
       <p class="card-content" class="text-center">$1300</p>
      <a href="#" class="btn btn-primary stretched-link">Buy</a>
      <p class="card-desc">Find denim pants stock images in HD and millions of other royalty-free stock photos, illustrations and vectors in the Shutterstock collection. Thousands of new​ ...</p>
    </div>
    <div class="card">
      <h2 class="card-title">TIE</h2>
      <img src="./assets/images/tie.jpg" alt="">
      <p class="card-content" class="text-center">$80</p>
      <a href="#" class="btn btn-primary stretched-link">Buy</a>
      <p class="card-desc">Ties - Shop for stylish ties online for men & boys in India. Choose from the wide range of bow ties, board ties & more in various colours & patterns</p>
    </div>
    <div class="card">
      <h2 class="card-title">T-SHIRT</h2>
      <img src="./assets/images/ts.jpg" alt="">
      <p class="card-content" class="text-center">$400</p>
      <a href="#" class="btn btn-primary stretched-link">Buy</a>
      <p class="card-desc">Allen Solly Shirt - Buy Allen Solly Shirts for Men and Women at best price Online from Myntra. Shop for a regular fit, tailored fit shirts & more from the range of Allen Solly Shirts Online. Myntra also offers Shirts in ... On First Order. NEW SEASON ...</p>
    </div>
    <div class="card">
      <h2 class="card-title">FORMAL SHIRTS</h2>
      <img src="./assets/images/fm.jpg" alt="">
      <p class="card-content" class="text-center">$400</p>
      <a href="#" class="btn btn-primary stretched-link">Buy</a>
      <p class="card-desc">Allen Solly Shirt - Buy Allen Solly Shirts for Men and Women at best price Online from Myntra. Shop for a regular fit, tailored fit shirts & more from the range of Allen Solly Shirts Online. Myntra also offers Shirts in ... On First Order. NEW SEASON ...</p>
    </div>
    <div class="card">
      <h2 class="card-title">FORMAL PANTS</h2>
      <img src="./assets/images/fp.jpg" alt="">
      <p class="card-content" class="text-center">$1400</p>
      <a href="#" class="btn btn-primary stretched-link">Buy</a>
      <p class="card-desc">Men's Formal Trousers: Shop from a wide range of men's formal trousers online at Brand Factory. Get all the latest styles from top brands online today!</p>
    </div>
    <div class="card">
      <h2 class="card-title">SPORT SHOES</h2>
      <img src="./assets/images/sp.jpg" alt="">
      <p class="card-content" class="text-center">$800</p>
      <a href="#" class="btn btn-primary stretched-link">Buy</a>
      <p class="card-desc">Men Branded Sport Shoes- buy active wear,casual wear,never out of style,For Men.mesh-Sport Shoes,fabric-Sport Shoes,synthetic-Sport Shoes,solid,printed ...</p>
    </div>
    <div class="card">
      <h2 class="card-title">GOGGLES</h2>
      <img src="./assets/images/gimg.jpg" alt="">
      <p class="card-content" class="text-center">$500</p>
      <a href="#" class="btn btn-primary stretched-link">Buy</a>
      <p class="card-desc">Search from 99036 Safety Goggles stock photos, pictures and royalty-free images from iStock. Find high-quality stock photos that you won't find anywhere else.</p>
    </div>
    <div class="card">
      <h2 class="card-title">SOCKS</h2>
      <img src="./assets/images/soimg.jpg" alt="">
      <p class="card-content" class="text-center">$100</p>
      <a href="#" class="btn btn-primary stretched-link">Buy</a>
      <p class="card-desc">Search from 127203 Sock stock photos, pictures and royalty-free images from iStock. Find high-quality stock photos that you won't find anywhere else.</p>
    </div>
  </div>