<p>Fastrack was launched in 1998 and became an independent urban youth brand in 2005. Since then, it has carved a niche for itself with watches and sunglasses that are both fashionable and affordable. Fastrack extended its footprint into accessories in 2009 with a range of bags, belts and wallets. Fastrack retails across the nation through 158 exclusive Fastrack stores in over 79 cities as well as authorized multi-brand outlets and online (www.fastrack.in). Today, the brand has successfully notched up the title of being the most loved youth fashion brand in the country.

    FASTRACK’S DNA
    If Fastrack was to be described in a single word, ‘Irreverent’ would be it. Not the insolent, sacrile   
</p>    

<p>
        FASTRACK’S POSITIONING
        Fastrack is India’s foremost youth accessories brand. It is sporty and coed. It believes that it is all about range and delivers just that in almost ungodly quick cycles. The brand stays focused on its audience and delivers what they want before they even know they want it. Fastrack is accessible and owns the playing field. It is not cheap, just affordable. It is not just about fashion but rather, lifestyle. It does not make products that are meant to be collectibles or those that will turn into heirlooms. It does not just make watches. It is not the manufacturer of tween gear. Fastrack accessorizes the youth… it makes what is their war paint and marks of individualism; it represents, articulates and stands for all they have to say.</p>
<p>
        MOVE ON.
        It’s Fastrack’s philosophy, its mantra, its battle cry. This simple phrase is the expression of the way the brand thinks, operates, communicates and works. It’s a blueprint for all that is Fastrack.</p>



        <body>
                <div class="container">
                    <div class="card">
                        <div class="face face1">
                            <div class="content">
                                <img src="./assets/images/chimg.jpg">
                                <h3>Swing Chair</h3>
                            </div>
                        </div>
                        <div class="face face2">
                            <div class="content">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                                <p class="card-text" class="text-center">Swing Chair</p>
                                <p class="card-content" class="text-center">$2,800</p>
                                <a href="#" class="btn btn-primary stretched-link">Buy</a>    
                            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="card">
                        <div class="face face1">
                            <div class="content">
                                <img src="./assets/images/shimg.jpg">
                                <h3>NIKE</h3>
                            </div>
                        </div>
                        <div class="face face2">
                            <div class="content">
                                <p>
                                    Unsplash
                                    White Shoes Pictures | Download Free Images on Unsplash
                                    Visit
                                    Images may be subject to copyright. Learn more</p>
                                <p class="card-text" class="text-center">NIKE</p>
                                <p class="card-content" class="text-center">$1,800</p>
                                <a href="#" class="btn btn-primary stretched-link">Buy</a>
                                   
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="container"> 
                    <div class="card">
                        <div class="face face1">
                            <div class="content">
                                <img src="./assets/images/cimg.jpg" alt="">
                                <h3>DSLR</h3>
                            </div>
                        </div>
                        <div class="face face2">
                            <div class="content">
                                <p>Captures the real you High definition images must have at least 720 pixels or greater to be in the HD category </p>
                                <p class="card-text" class="text-center">DSLR 520d</p>
                                <p class="card-content" class="text-center">$70,800</p>
                                <a href="#" class="btn btn-primary stretched-link">Buy</a>
                            </div>
                        </div>
                    </div>
                </div>
            </body>        